<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <button mat-icon-button class="example-icon" (click)="navHome()"aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" (click)="navPets()" aria-label="Example icon-button with menu icon">
      <mat-icon>pets</mat-icon>
    </button>
  </mat-drawer>
  <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="example-sidenav-content">

    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
